.header-topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 56px;
  background-color: #fff;
}

.header-topbar .container {
  display: flex;
  width: 1520px;
  height: 36px;
  padding: 0px 10px;
}
.header-topbar .container >* {
  display: flex;
  align-items: center;
  justify-content: center;
}

                              /* Left Section */
.emag-logo-wrapper {
  width: 155px;
 
  margin: 0px 0px 0px -10px;
  padding: 0px 10px;

  cursor: pointer;
}

                              /* Middle Section */
.navbar-searchbox {
  padding: 0px 10px;
  height: 100%;
}

.searchbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
}

.header-topbar form.search-bar {
  position: relative;

  display: flex;
  align-items: center;

  width: 864px;
  height: 100%;
  padding: 7px 12px;

  border: 1px solid #0082e6;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: transparent;

  color: #666;
}

.header-topbar .input {
  position: absolute;
  left: 1px;
  
  width: 100%;
  height: 100%;
  margin: 0px 12px;

  font-size: 14px;
  
  border: 1px solid transparent;
  outline: none;
}

.header-topbar button.search-button {
  width: 42px;
  height: 100%;

  padding: 6px 12px;

  color: #0082e6;
  background-color: transparent;
  
  border-left: transparent;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid #0082e6;

  z-index: 10;
  cursor: pointer;
  transition: background-color 0.15s;
}

.header-topbar button.search-button:hover {
  background-color: rgba(0, 130, 230, 0.1);
  border: 1px solid #0082e6;
}

.header-topbar button.search-button i {
  font-size: 18px;
}

                                  /* Right Section */
  .header-topbar .container .right-section {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-topbar .container .right-section >* {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 135px;
  height: 34px;
  margin-left: 10px;

  cursor: pointer;
}

.header-topbar .right-section .fa-user,
.header-topbar .right-section .fa-heart,
.header-topbar .right-section .fa-cart-shopping {
  font-size: 22px;
  color:#0082e6;
  margin-left: 5px;
}

span.account-text,
span.favourites-text,
span.shoppingcart-text {
  color: #444;
  font-size: 14px;

  margin-left: 10px;
}

.fa-caret-down {
  color: #444;
  font-size: 11px;
  margin-left: 3px;
}
                          /* -------Bottom-header------- */
.header-nav-bar {
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 40px;
  background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,
                        #7040a4 45%,#4359c7 55%,#0082e6 70%);
}

.header-nav-bar_wrapper {
  width: 1500px;
  height: 40px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-bar_wrapper .right-section {
  display: flex;
  justify-content: flex-end;
}

.header-nav-bar li {
  display: flex;
  align-items: center;
  list-style: none;
}

a[title] {
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
}

                                  /* Left-1st Link */

.header-nav-bar_wrapper .nav-list-left .products-list {
  padding: 5px 10px;
  color: #222;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
}

.header-nav-bar_wrapper i.fa-bars {
  font-size: 14px;
  margin: 0px 5px 0px 0px;
}

.nav-list-left span.produse-text {
  font-size: 14px;
  font-weight: bold;
}

                              /* Left-rest of the Links */

.header-nav-bar .left-section a {
  margin: 5px 0px 5px 4px;
  padding: 5px 10px;
  border: 1px solid transparent;

  transition: border, border-radius;
}

.header-nav-bar .left-section a:hover {
  border: 1px solid #FFF;
  border-radius: 13.5px;
}

                            /* Right Link*/

.header-nav-bar_wrapper .right-section {
  height: 100%;
  color: #FFF;
}

.header-nav-bar_wrapper .nav-list-right {
  margin: 5px 0px 5px 4px;
  padding: 5px;
  border: 1px solid transparent;
}

.header-nav-bar_wrapper .nav-list-right:hover {
  border: 1px solid #FFF;
  border-radius: 13.5px;
}

.header-nav-bar_wrapper .nav-list-right i.fa-headset {
  font-size: 18px;
  margin-right: 8px;
}