.products-header {
  text-size-adjust: 100%;

  padding: 0px 35px;

  border: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}

.products-header-wrapper {
  flex-direction: column;
  display: flex;
  
  width: 1166px;
  height: 225.141px;
}

/** Top part **/

.header-title-products {
  display: flex;
  align-items: center;
  
  height: 58.14px;
  width: 1166px;
  padding: 10px 0px;

  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}

.header-title-products p.text-title {
  font-size: 26px;
  font-weight: 400;

  margin: 0px 5px 0px 0px;
}

.header-title-products p.text-quantity {
  font-size: 18px;
  margin: 0px 0px 0px 5px;
}

/** Middle part **/

.pick-product {
  height: 20px;
  width: 1166px;
  margin: 25px 0px 10px;
  
  font-size: 14px;
  font-weight: 500;
}

.header-nav-buttons {
  display: flex;
  align-items: center;
  
  height: 60px;
  width: 1166px;
  
  padding: 0px 0px 20px;

  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}

.products-header .middle-wrapper {
  margin: -14px 0px 14px;
}

.header-nav-buttons .div-buttons >* {
  padding: 6px 30px;
  margin: 5px 10px 0px 0px;
  height: 34px;
  
  background-color: #fff;
  border-radius: 17px;
  border: 1px solid rgba(204, 204, 204, 0.7);

  font-size: 14px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  text-align: center;
  text-size-adjust: 100%;

  cursor: pointer;
}

.header-nav-buttons .two-in-1 {
  background-color: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
  color: #fff;
}

/** Bottom part **/

.filter-products {
  display: flex;
  justify-content: space-between;
  
  height: 52px;
  width: 1166px;
  padding: 10px 0px;

  font-size: 12px;
}

.filter-left {
  display: flex;
}

.filter-products button.popular,
.filter-products button.page-grid {
  position: relative;
 
  padding: 5px 30px 5px 10px;
  height: 32px;
  
  background-color: white;
  border: 1px solid rgba(204, 204, 204, 0.7);
  color:#666;
  border-radius: 3px;
  
  font-size: 12px;
}

.filter-products button.popular,
.filter-products button.page-grid:hover {
  cursor: pointer;
}

.filter-products .ordinate,
.filter-products .prod {
  margin: 0px 10px 0px 0px;
  color: #222;
}

.products-header .filter-products .filter-left i {
  position: absolute;
  top: 10px;
  right: 10px;
}

.filter-right {
  display: flex;
  align-items: center;
}

.grid-type {
  display:flex;
  align-items: center;
}

.btn-group {
  display: flex;
  height: 32px;
  margin-left: 3px;
}

.filter-products button.hamburger,
.filter-products button.window {
  padding: 5px 10px;
  border: 1px solid rgba(204, 204, 204, 0.7);

  cursor: pointer;
}

.filter-products .hamburger i,
.filter-products .window i {
  font-size: 14px;
}

.filter-products .hamburger i {
  color: #666;
}

.filter-products .window i {
  color: #333;
}

.filter-products button.hamburger {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  background-color: white;

  transition: background-color 0.15s;
}

.filter-products button.hamburger:hover {
  background-color:rgba(192, 191, 191, 0.7);
}

.filter-products button.window {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color:rgba(192, 191, 191, 0.7);

  margin: 0px 0px 0px -1px;
}