
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 492px;
  width: 292px;
  margin-top: 15px;
}
.laptop-1 .pre-laptop {
  background-color: white;
}
.laptop {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.product-image {
  width: 290px;
  height: 285px;
  margin: 0px 0px 10px;
  padding: 5px 5px 0px;
}

.laptop-image {
  width: 280px;
  height: 280px;
}

.laptop-1 .product-describe {
  font-size: 14px;
  width: 290px;
  height: 110px;
  padding: 0px 10px;
}

p.description {
  width: 270px;
  height: 57px;
  font-weight: 600;
  margin: 0px 0px 5px;
}

.white-space {
  width: 270px;
  height: 19px;
  margin: 0px 0px 5px;
}

.laptop-1 .delivery-info {
  width: 270px;
  height: 19px;
  margin: 0px 0px 5px;
  font-size: 12px;
}

.maine {
  color: rgb(2, 119, 2);
}

.price_and_cart {
  width: 290px;
  height: 85px;
  padding: 0px 10px 10px;
}

.prices {
  width: 270px;
  height: 38px;
}

.wrap_prp {
  height: 19px;
  position: relative;
}

p.prp {
  font-size: 12px;
  color: grey;
  height: 17px;
}

.laptop-1 .sup {
  width: 9.17;
  height: 10px;
  margin: 0px 0px 0px 0.78px;
  font-size: 7.8px;
  position: absolute;
  color: grey;
  top: 2px;
  bottom: 0px;
  left: 60px;
}

.wrap_price {
  height: 22px;
  position: relative;
}

.laptop-1 .price {
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.price .sup {
  position: absolute;
  font-weight: bold;
  font-size: 10.4px;
  left: 41px;
  top: 2px;
  color: red;
}

.add-to-cart {
  margin: 2px auto 13px auto;
  display: flex;
  position: relative;
  
}

.add-to-cart-button {
  height: 32px;
  width: 297px;
  margin-top: 9px;
  background: linear-gradient(to right,#4a60c1 10%,#3985e0);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 12px;

  cursor: pointer;
}


.add-to-cart-button:hover {
  background: linear-gradient(to right,#3147a8 10%,#206cc7);
}

.addd-to-cart-button {
  position: absolute;
  left: -30;
  
  height: 32px;
  width: 37px;
  
  border-radius: 3px;
  margin-top: 9px;
  border-top-right-radius: 0% 0%;
  border-bottom-right-radius: 37% 100%;
  border: none;
  z-index: 2;
  
  background-color: rgba(255, 0, 0, 0.884);

  cursor: pointer;
}



.laptop-2 .product-image {
  width: 290px;
  height: 285px;
  margin: 0px 0px 10px;
  padding: 5px 5px 0px;;
}

.laptop-2 .laptop-image {
  width: 280px;
  height: 280px;
}

.laptop-2 .product-describe {
  font-size: 14px;
  width: 290px;
  height: 86px;
  padding: 0px 10px;
}

p.description {
  width: 270px;
  height: 57px;
  font-weight: 600;
  margin: 0px 0px 5px;
}

.rating {
  display: flex;
  align-items: center;
  width: 270px;
  height: 19px;
}

.stars {
  display: flex;
  width: 80px;
  height: 19px;
  margin-right: 4px;
}

.stars-font {
  display: flex;
  align-items: center;
  color: rgb(255,165,52);
  width: 80px;
}

.star-rating-text {
  width: 48.33px;
  height: 19px;
  padding: 0px 0px 0px 5px;
}

.num-rating {
  width: 23.86px;
  height: 19px;
  margin: 0px 5px 0px 0px;
  font-size: 12px;
}

.n-client-rtg {
  width: 14.47px;
  height: 19px;
  font-size: 12px;
  color: grey;
  margin-left: -3px;
}

.white-space {
  width: 270px;
  height: 19px;
  margin: 0px 0px 5px;
}

.price_and_cart {
  width: 290px;
  height: 85px;
  padding: 0px 10px 10px;
}

.prices {
  width: 270px;
  height: 38px;
}

.wrap_prp {
  height: 19px;
  position: relative;
}

p.prp {
  font-size: 12px;
  color: grey;
  height: 17px;
}

.laptop-2 .sup {
  width: 9.17;
  height: 10px;
  margin: 0px 0px 0px 0.78px;
  font-size: 7.8px;
  position: absolute;
  color: grey;
  top: 2px;
  bottom: 0px;
  left: 60px;
}

.wrap_price {
  height: 22px;
  position: relative;
}

.laptop-2 .price {
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.price .sup {
  position: absolute;
  font-weight: bold;
  font-size: 10.4px;
  left: 41px;
  top: 2px;
  color: red;
}

.add-to-cart {
  margin: 2px auto 13px auto;
  display: flex;
  position: relative;
  
}

.add-to-cart-button {
  height: 32px;
  width: 297px;
  margin-top: 9px;
  background-color: rgb(15, 110, 252);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 12px;
}

.addd-to-cart-button {
  position: absolute;
  left: -30;
  height: 32px;
  width: 37px;
  border-radius: 3px;
  margin-top: 9px;
  border-top-right-radius: 0% 0%;
  border-bottom-right-radius: 37% 100%;
  border: none;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.884);
}

.laptop-3 .product-describe {
  font-size: 14px;
  width: 290px;
  height: 110px;
  padding: 0px 10px;
}

p.description {
  width: 270px;
  height: 57px;
  font-weight: 600;
  margin: 0px 0px 5px;
}

.white-space {
  width: 270px;
  height: 19px;
  margin: 0px 0px 5px;
}

.laptop-3 .stock-availability {
  width: 270px;
  height: 19px;
  margin: 0px 0px 5px;
  font-size: 12px;
  color: gray;
}

.price_and_cart {
  width: 290px;
  height: 85px;
  padding: 0px 10px 10px;
}

.laptop-3 .prices {
  display: flex;
  align-items: center;
  width: 270px;
  height: 38px;

}

.wrap_prp {
  height: 19px;
  position: relative;
}

p.prp {
  font-size: 12px;
  color: grey;
  height: 17px;
}

.laptop-3 .sup {
  width: 9.17;
  height: 10px;
  margin: 0px 0px 0px 0.78px;
  font-size: 7.8px;
  position: absolute;
  color: grey;
  top: 2px;
  bottom: 0px;
  left: 60px;
}

.wrap_price {
  height: 22px;
  position: relative;
}

.laptop-3 .price {
  padding-top: 11px;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.laptop-3 .price .sup {
  position: absolute;
  font-weight: bold;
  font-size: 10.4px;
  left: 41px;
  top: 2px;
  padding-top: 11px;
  color: red;
}

.add-to-cart {
  margin: 2px auto 13px auto;
  display: flex;
  position: relative;
  
}

.add-to-cart-button {
  height: 32px;
  width: 297px;
  margin-top: 9px;
  background-color: rgb(15, 110, 252);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 12px;
}

.addd-to-cart-button {
  position: absolute;
  left: -30;
  height: 32px;
  width: 37px;
  border-radius: 3px;
  margin-top: 9px;
  border-top-right-radius: 0% 0%;
  border-bottom-right-radius: 37% 100%;
  border: none;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.884);
}

.laptop-4 .product-describe {
  font-size: 14px;
  width: 290px;
  height: 110px;
  padding: 0px 10px;
}

p.description {
  width: 270px;
  height: 57px;
  font-weight: 600;
  margin: 0px 0px 5px;
}

.white-space {
  width: 270px;
  height: 19px;
  margin: 0px 0px 5px;
}

.laptop-4 .stock-availability {
  width: 270px;
  height: 19px;
  margin: 0px 0px 5px;
  font-size: 12px;
  color: grey;
}

.price_and_cart {
  width: 290px;
  height: 85px;
  padding: 0px 10px 10px;
}

.prices {
  width: 270px;
  height: 38px;
}

.wrap_prp {
  height: 19px;
  position: relative;
}

p.prp {
  font-size: 12px;
  color: grey;
  height: 17px;
}

.laptop-4 .sup {
  width: 9.17;
  height: 10px;
  margin: 0px 0px 0px 0.78px;
  font-size: 7.8px;
  position: absolute;
  color: grey;
  top: 2px;
  bottom: 0px;
  left: 60px;
}

.wrap_price {
  height: 22px;
  position: relative;
}

.laptop-4 .price {
  padding-top: 19px;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.laptop-4 .price .sup {
  padding-top: 19px;
  position: absolute;
  font-weight: bold;
  font-size: 10.4px;
  left: 41px;
  top: 2px;
  color: red;
}

.add-to-cart {
  margin: 2px auto 13px auto;
  display: flex;
  position: relative;
  
}

.add-to-cart-button {
  height: 32px;
  width: 297px;
  margin-top: 9px;
  background-color: rgb(15, 110, 252);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 12px;
}

.addd-to-cart-button {
  position: absolute;
  left: -30;
  height: 32px;
  width: 37px;
  border-radius: 3px;
  margin-top: 9px;
  border-top-right-radius: 0% 0%;
  border-bottom-right-radius: 37% 100%;
  border: none;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.884);
}
