.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 315px;
  padding: 0px 15px 0px 0px;
}

.sidebar-container .sidebar-tree,
.sidebar-container .sidebar-tree_body {
  display: flex;
  flex-direction: column;
}

.sidebar-container .sidebar-tree {
  margin: 0px 0px 10px;
  padding: 0px 15px;

  background-color: #e1f3fd;
  border-radius: 3px;

  font-size: 13px;
}

.sidebar-container .sidebar-tree_head {
  padding: 15px 0px;
}

.sidebar-container .sidebar-tree_head .head-link .nr {
  font-size: 12px;
}

.sidebar-container .sidebar-tree .title-link .nr {
  font-weight: 700;
}

.sidebar-container .sidebar-tree span.nr {
  font-size: 10px;
  font-weight: 400;

  margin-left: 5px;
}

.sidebar-container .sidebar-tree_head a {
  color: #005EB0;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.sidebar-container .sidebar-tree_body {
  padding: 0px 5px 10px 10px;
}

.sidebar-container .sidebar-tree_body a.title-link {
  color: #005EB0;
  font-weight: bold;

  padding: 0px 23px 5px 0px;
  text-decoration: none;
}

.sidebar-container .sidebar-tree_body a {
  color: #005EB0;

  padding: 5px 0px;
  text-decoration: none;
}

.sidebar-container .sidebar-tree_body .end-link {
  position: relative;

  padding: 5px 0px 5px 18px;
}

.sidebar-container .sidebar-tree_body .end-link i.fa-plus {
  position: absolute;
  left: 0;
  top: 37%;

  font-size: 12px;
  color: #005EB0;
}



.sidebar-container .erase_all-filter {
  position: relative;
  
  margin: 0px 0px 10px;
  padding: 12px 30px 12px 15px;
  
  background-color: #FFF;
  font-size: 14px;
  border-radius: 3px;

  cursor: pointer;
}

.sidebar-container .erase_all-filter a:hover {
  color: rgb(192, 4, 4);
}

.sidebar-container .erase_all-filter a,
.sidebar-container div.filter a,
.sidebar-container div.filter-genius-logo a {
  color: #222;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.sidebar-container .erase_all-filter a {
  font-weight: normal;
}

.sidebar-container .erase_all-filter i.fa-x {
  position: absolute;
  top: 37%;
  right: 5%;
  
  color: rgba(255, 0, 0, 0.651);
  font-size: 14px;
}

.sidebar-container .filter,
.sidebar-container .filter-genius-logo {
  position: relative;
  
  margin: 0px 0px 10px;
  padding: 12px 30px 12px 15px;
  border-radius: 3px;

  background-color: #FFF;

  cursor: pointer;
}

.sidebar-container div.filter i.fa-angle-down,
.sidebar-container div.filter-genius-logo i.fa-angle-down {
  position: absolute;
  top: 37%;
  right: 5%;

  font-size: 15px;
}

.sidebar-container .filter-genius-logo img {
  display: inline-block;
  height: 17px;
  margin-left: 5px;
  vertical-align: middle;
}

